[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
sqlalchemy-media = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"

[requires]
python_version = "3.8"
