<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type=text/css href="{{url_for('static',
		filename='styles.css')}}">
		<title>Rental Management | Properties</title>
	</head>
	<body>
		<div class="topnav">
			<a href="{{url_for('home')}}">Home</a>
			<a class="active" href="{{url_for('showProperties')}}">Properties</a>
			<a href="{{url_for('showTenants')}}">Tenants</a>
		</div>
		<div id="home-properties">
			<h1>Properties</h1>
			{% if properties %} {% for property in properties %}
			<div>
				<span>{{property.nickname}}</span>
				<span>{{property.address}}</span>
			</div>
			{% endfor %} {% endif %}
		</div>
	</body>
</html>
