{% extends 'base.html' %} {% block body %}

<h1>Edit Tenant: {{tenant.name}}</h1>

<form action="{{url_for('editTenant', tenant_id=tenant.id)}}" method="POST">
	<p>
		First Name:
		<input
			type="text"
			name="first_name"
			placeholder="First Name"
			value="{{tenant.first_name}}"
			required
		/>
	</p>
	<p>
		Last Name:
		<input
			type="text"
			name="last_name"
			placeholder="Last Name"
			value="{{tenant.last_name}}"
			required
		/>
	</p>
	<p>
		Phone Number:
		<input
			type="text"
			name="phone"
			placeholder="Phone Number"
			value="{{tenant.phone}}"
			required
		/>
	</p>
	<p>
		Email Address:
		<input
			type="text"
			name="email"
			placeholder="Email"
			value="{{tenant.email}}"
			required
		/>
	</p>
	<p>
		<input type="submit" value="Submit" />
		<a href="{{url_for('propertyDetails', property_id=tenant.property.id)}}"
			>Cancel</a
		>
	</p>
</form>
{% endblock %}
