{% extends 'base.html' %} {% block body %}

<h1>Address: {{property.address}}</h1>
<h2>Add New Tenant</h2>
<form action="{{url_for('newTenant', property_id=property.id)}}" method="POST">
	<p>
		First Name: <input type="text" name="first_name" placeholder="First Name" />
	</p>
	<p>
		Last Name: <input type="text" name="last_name" placeholder="Last Name" />
	</p>
	<p>
		Phone Number:
		<input type="text" name="phone" placeholder="Phone Number" />
	</p>
	<p>Email Address: <input type="text" name="email" placeholder="Email" /></p>
	<input type="submit" value="Add" />
	<a href="{{url_for('propertyDetails', property_id=property.id)}}">Cancel</a>
</form>
{% endblock %}
