{% extends 'base.html' %} {% block body %}

<div>
	<p>{{property.title}}</p>
	<p>{{property.streetAddress}}</p>
	{% if property.unitNumber != None %}
	<p>{{property.unitNumber}}</p>
	{% endif %}
	<p>{{property.city}}</p>
	<p>{{property.state}}</p>
	<p>{{property.zipCode}}</p>
</div>
<p>
	<a href="{{url_for('editProperty', property_id=property.id)}}"
		>Edit Details</a
	>
</p>
<div>
	<h2>Tenants</h2>
	{% for tenant in tenants %}
	<p>Name: {{tenant.first_name}} {{tenant.last_name}}</p>
	<p>Phone Number: {{tenant.phone}}</p>
	<p>Email: {{tenant.email}}</p>
	<a href="{{url_for('editTenant', tenant_id=tenant.id)}}">Edit</a>
	<a href="{{url_for('deleteTenant', tenant_id=tenant.id)}}">Delete</a>
	{% endfor %}
	<p>
		<a href="{{url_for('newTenant', property_id=property.id)}}">Add Tenant</a>
	</p>
</div>
{% endblock %}
